@charset "utf-8";

.container {
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.box-blue {
    width: 30%;
    height: 300px;
    background: blue;
}

.box-red {
    width: 30%;
    height: 300px;
    background: red;
}

.header {
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 0 20px;
    border-right: 1px solid black;
}

.r {
    border-right: none;
}

@media screen and (max-width: 767px) {
    .header {
        display: block;
    }

    .menu {
        display: block;
    }

    li {
        padding: 10px 0;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .r {
        border-bottom: 1px solid black;
    }
}