@charset "utf-8";

/* ヘッダー */

header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_slider img {
    width: 100%;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    width: 105px;
    text-align: center;
}

/* スライダー メイン */

.slick-dots {
    bottom: 20px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: white;
    font-size: 15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

/* スライダー GALLERY */

.slick-next {
    right: 22%
}

.slick-prev {
    left: 22%;
    z-index: 1000;
}

.slick-next:before,
.slick-prev:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-top: solid 5px white;
    border-right: solid 5px white;
}

.slick-next:before {
    transform: rotate(45deg);
}

.slick-prev:before {
    transform: rotate(-135deg);
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}



/* キャッチコピー */

.copy {
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 100px;
}

.copy_small_en {
    line-height: 1.65;
    font-size: 30px;
    letter-spacing: normal;
}

.copy_small_ja {
    line-height: 1.65;
    font-size: 23px;
}

.copy_small_ja_sp {
    display: none;
}

.copy_large {
    line-height: 1.2;
    font-size: 82px;
    margin: 50px 0 30px 0;
}



/* ↓　内　容　↓ */
.content {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.content_large {
    max-width: 1920px;
    margin: 0 auto;
}

/* ABOUT US */

#aboutus {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.aboutus_left {
    width: 50%;
}

.aboutus_left img {
    width: 100%;
    border-bottom-right-radius: 82px;
    /* 右下の角を丸くする */
}

.aboutus_right {
    width: 41%;
    margin-top: 55px;
}

.aboutus_right img {
    width: 270px;
    height: auto;
}

.aboutus_right_large {
    margin-top: 40px;
    font-size: 44px;
    line-height: 1.4;
}

.aboutus_right_small {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 22px;
}

/* MENU */

#menu {
    margin-top: 95px;
    text-align: center;
}

.menu_img {
    position: relative;
}

.menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    gap: 49px;
}

.menu_list_title {
    font-size: 38px;
    color: #d30202;
    position: absolute;
    top: 94%;
    left: 11px;
}

.menu_list_text {
    width: 100%;
    font-size: 17px;
    line-height: 1.5;
    padding-top: 40px;
    text-align: left;
}

.menu_list li img {
    width: 100%;
    border-top-right-radius: 42px;
    /* 右上の角を丸くする */
}

/* ↓　内　容(gallery)　↓ */
.content_gallary {
    max-width: 100%;
    margin: 0 auto;
}

/* GALLERY */

#gallery {
    margin-top: 96px;
    text-align: center;
}

.gallery_list {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.gallery_list li {
    width: 20%;
}

.gallery_list img {
    width: 100%;
}

/* EVENT */

#event {
    margin-top: 70px;
    text-align: center;
}

.event_list {
    width: 100%;
    margin-top: 40px;
    border: 4px solid #4f260b;
    background-color: white;
    box-sizing: border-box;
    padding: 38px 0 25px 0;
    font-size: 23px;
    text-align: left;
}

.event_list div {
    width: fit-content;
    margin: 0 auto;
}

.event_list p {
    margin-bottom: 23px;
}

.event_list span {
    padding-left: 46px;
    text-decoration: underline;
}

/* ACCESS */

.content_access {
    width: 100%;
    margin: 0 auto;
}

#access {
    margin-top: 80px;
    text-align: center;
}

.access_map {
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 470px;
}

/* フッター */

.info {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.info_detail {
    max-width: 1000px;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 55px;
}

.info_detail img {
    width: 226px;
}

.info_detail div {
    font-size: 20px;
    line-height: 2;
}

.copyright {
    margin-top: auto;
    text-align: center;
    padding-bottom: 80px;
    font-size: 16px;
}

/* ページトップ */

#button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 125px;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 23px;
        position: absolute;
        right: 25px;
        top: 20px;
        cursor: pointer;
        /* 重なり具合 */
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: white;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: white;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* バツ印 */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        /* 重なり具合 */
        z-index: 1;
    }

    .sp_nav li {
        color: white;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-weight: bold;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .copy_large {
        font-size: 65px;
    }

    .copy_small_ja {
        font-size: 20px;
    }

    .aboutus_right_large {
        font-size: 36px;
    }

}

@media screen and (max-width: 767px) {
    h1 {
        position: absolute;
        top: 10px;
    }

    /* キャッチコピー */

    .copy {
        margin-top: 41px;
    }

    .copy_small_en {
        font-size: 17px;
    }

    .copy_large {
        margin-top: 27px;
        font-size: 38px;
        letter-spacing: 0.02em;
    }

    .sp_br {
        display: block;
        /*767px未満で改行タグを有効に。 */
    }

    .content {
        padding: 0 40px;
    }

    /* ABOUT US */

    #aboutus {
        margin-top: 60px;
        flex-direction: column;
        /* 縦並びにする */

        padding: 0;
    }

    .aboutus_left {
        margin-top: 13px;
        width: 100%;
        order: 2;
    }

    .aboutus_left img {
        width: 100%;
        border-bottom-right-radius: 0;
    }

    .aboutus_right img {
        width: 160px;
        height: auto;
    }

    .aboutus_right {
        display: contents;
        /*スマホサイズではボックスを生成しない */
    }

    .aboutus_right h2 {
        order: 1;
        text-align: center;
    }

    .aboutus_right_large {
        margin-top: 35px;
        padding: 0 20px;
        line-height: 1.3;
        order: 3;
    }

    .aboutus_right_small {
        line-height: 1.8;
        margin-top: 20px;
        padding: 0 20px;
        text-align: justify;
        order: 4;
    }

    /* MENU */

    #menu {
        margin-top: 57px;
    }

    .menu_list {
        width: 100%;
        flex-flow: column;
        /* justify-content: space-between; */
        margin-top: 22px;
        gap: 60px;
    }

    .menu_list_title {
        font-size: 40px;
        position: absolute;
        top: 95%;
        left: 9px;
    }

    .menu_list_text {
        padding-top: 41px;
    }

    /* GALLERY */

    /* スライダー GALLERY */

    .slick-next {
        right: 3%
    }

    .slick-prev {
        left: 3%;
    }

    .slick-next:before,
    .slick-prev:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-top: solid 2px white;
        border-right: solid 2px white;
    }

    .gallery_list {
        margin-top: 25px;
        flex-flow: column;
    }

    .gallery_list li {
        width: 100%;
    }

    /* .gallery_list li:not(:first-child) {
        display: none;
    } */

    /* EVENT */

    #event {
        margin-top: 34px;
    }

    .event_list {
        width: 100%;
        margin-top: 21px;
        padding: 21px 0 0 0;
        font-size: 16px;
    }

    .event_list div {
        width: auto;
        margin: 0 30px;
    }

    .event_list p {
        margin-bottom: 23px;
        overflow: hidden;
        /* 溢れたテキストを隠す */
        text-overflow: ellipsis;
        /* 溢れたテキストに「...」を表示 */
        white-space: nowrap;
        /* テキストを1行に制限 */
    }

    .event_list span {
        padding-left: 0;
    }

    /* ACCESS */

    #access {
        margin-top: 32px;
    }

    .access_map {
        margin-top: 10px;
        width: 100%;
        height: 191px;
    }

    iframe {
        height: 191px;
    }

    /* フッター */

    .info {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .info_detail {
        padding: 49px 0 43px 0;
        flex-flow: column;
        gap: 32px;
    }

    .info_detail img {
        width: 226px;
    }

    .info_detail div {
        font-size: 18px;
        line-height: 1.7;
    }

    .copyright {
        margin-top: auto;
        text-align: center;
        padding-bottom: 37px;
        font-size: 16px;
    }

    /* ページトップ */

    #button {
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 100px;
    }

}